{% extends "blocks/base.html" %}


{% block title %}Информация о Зле{{ block.title }}{% endblock %}
{% block content %}
    <div class="entity-form__cancel">
        <h1>Основная информация</h1>
        <img src="rknvenv2/jump_into_django/assets/square_320_80a8d85fec03309ff9e716cc8804fa33" alt="Вам не удастся увидеть его. Думаю это к лучшему">
        <style>
          .card {
            border-radius: 16px;
            padding: 20px;
            margin: 40px auto;
            width: 320px;
            border: 2px solid #4da6ff;
        }  
        </style>

    </div>
{% endblock %}







