
{% extends "blocks/base.html" %}

{% block title %}Блокировки РКН{% endblock %}


{% block content %}
    <h1>Список блокировок</h1>
    <p>Здесь будут блокировки.</p>
    <ul>
        {% for block in blocks %}
            <h3>{{ block.title }}</h3>
            <p>{{ block.description }}</p>
            <li>
                <a href="{% url 'block_detail' forloop.counter %}">{{ block.title }}</a>
            </li>
        {% empty %}
            <li>Блокировок нет</li>
        {% endfor %}
    </ul>
    <a href="{% url 'block_create' %}">+ Добавить новую блокировку РКН </a>
    {% for block in blocks %}
    <div>
        <a href="{% url 'block_detail' block.pk %}">{{ block.title }}</a>
        <a href="{% url 'block_edit' block.pk %}">Изменить</a>
        <a href="{% url 'block_delete' block.pk %}">Удалить</a>
    </div>
{% endfor %}
{% endblock %}