
{% extends "blocks/base.html" %}

{% block title %}Блокировки РКН{% endblock %}


{% block content %}
    <h1 class="text-light">Список блокировок</h1>
    <p class="text-light">Здесь будут блокировки.</p>
    <ul>
        {% for block in blocks %}
            <h3 class="text-light">{{ block.title }}</h3>
            <p class="text-light">{{ block.description }}</p>
            <li>
                <a class="text-info" href="{% url 'block_detail' block.pk %}"> Перейти на страницу блокировки</a>
                <a class="text-info" href="{% url 'block_edit' block.pk %}"> Изменить</a>
                <a class="text-info" href="{% url 'block_delete' block.pk %}"> Удалить</a>
            </li>
        {% empty %}
            <li>Блокировок нет</li>
        {% endfor %}
    </ul>
    <a class="text-info" href="{% url 'block_create' %}">+ Добавить новую блокировку РКН </a>
{% endblock %}
